<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{196,86}</string>
                <key>spriteSourceSize</key>
                <string>{200,90}</string>
                <key>textureRect</key>
                <string>{{401,1},{196,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{198,86}</string>
                <key>spriteSourceSize</key>
                <string>{200,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{198,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{198,86}</string>
                <key>spriteSourceSize</key>
                <string>{200,90}</string>
                <key>textureRect</key>
                <string>{{201,1},{198,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shuffle.png</string>
            <key>size</key>
            <string>{598,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbe22a7f61198f61d3355d46973feea4:9eb0de527421c7bef74d00f2fdff4a39:f98ab325871b666bb11423b303b4c117$</string>
            <key>textureFileName</key>
            <string>shuffle.png</string>
        </dict>
    </dict>
</plist>
